html {
  font-family: helvetica;
}

#main,
#header {
  text-align: center;
}

h1,
h2,
h3 {
  font-weight: bold;
}

h1 {
  font-size: 70px;
  color: white;
}

a {
  font-size: 18px;
  color: white;
}
